.Pocetna{ /* opcije kakve su  */
    
    font-style: oblique;
    color: rgb(231, 177, 40);
    font-size: 20px;
    flex-grow: 0 1 auto;
  
}

.PocetniDIV{
    font-style: arial;
    color: goldenrod;
    text-align: center;
    font-size: 20px;
    text-transform:uppercase;
    align-items: center;
    width: 250px;
    height: 48px;
    flex-grow: 0 1 auto;
    /* align-self:center; */
    /* justify-content: flex-start; */
    margin: 20px;
      
      
}

body {
    background-image: url("https://images6.alphacoders.com/359/thumb-1920-359085.jpg"); 
    background-image:blur(8px);
    /* background-color:  #1b1b1b; */
    height: 100%; 
}

.Select{
    background-color: #000000;
    width: 225px;
    height: 28px;
    border-style:solid;
    border-color:#daa520;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    text-emphasis-color: #ffffff;
    margin-right: 0%;
}

.PRODAVNICA{ 
    
    font-style: oblique;
    color: rgb(255, 255, 255);
    font-size: 90px;
    margin: 100px;
    flex-grow: 0 1 auto;
    text-align: center;
    position: relative;
  
}
.lab{
    color:goldenrod;
    padding: 12px 12px 12px 0;
    display: inline-block;
    
      
}
.Labela{
    color:goldenrod;
    font-style: oblique;
    font:caption;
    font-family: "Times New Roman", Times, serif;
    margin-right: 50;
    font-size: 20px;
    margin-left: 20px;

}
.LABELA{
    color:white;
}

.navbar{
    background-color: #303030;
    margin-bottom: 20px;
    height: 100;
    padding: 20px;
    justify-content:center;
    justify-content: space-around;
    position: relative;
    align-items:stretch;
    display:flex;
    flex-grow: 20px 10px;
}

.InputiForma{
    display:flex;
    flex-direction: row;
    margin: 3px;

}
.jedanvinyl
{
  width:170px;
  height:170px;
  /* border-radius:90%; */
  background: rgba(119, 116, 115, 0.5);
  border:3px solid rgb(92, 85, 85);
  /* position:relative; */
  text-align: center;
  align-items: center;
  text-decoration: solid;
  word-wrap: break-word;
  font-style: oblique;
  font-family: "Times New Roman", Times, serif;
  margin: 10px;
  float: left;
  border-radius: 25px;
  /* padding:10px; */
  /* padding-top: 50px; */
/* overflow-x: auto;
    overflow-y: hidden; */
    vertical-align: middle;
    text-align: center;
vertical-align: middle;
line-height: 30px;
    
}

.jedanvinyl:hover{
    background-color: black;
    
}
.lab1
{
    color:goldenrod;

}
.Forma{
    border:3px;
    padding: 14px;
    background-color: #303030;
    position: relative;
    border-radius: 25px;
    height: fit-content;
    width: 155px;

    
    /* flex: auto; */
}

.PlocaTabela{
    margin-left:30px;
    /* width: 600px;
    height: 350px; */
    justify-content: space-evenly;
    flex-direction: row;
    position:relative;


}

.VELIKIDIV{
    display:flex;
    /* flex-wrap: wrap; */
    position: relative;
    /* flex-direction:column; */

}

.GlavniKontejner{
    display:flex;
    flex-direction: column;
}
.btn {
        background-color: #f7f7f7; /* Green */
        border: 2px solid grey;
        color: rgb(0, 0, 0);
        padding: 10px 50px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 10px 5px;
        transition-duration: 0.4s;
        cursor: pointer;
 }

 .btns{ 
    background-color:#303030; /* Green */
    border: 2px solid #303030;
    color: rgb(228, 228, 228);
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 29px;
    margin: 6px 3px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-style: oblique;
    font-family: "Times New Roman", Times, serif;

 }

  
  .btn:hover {
    background-color: #303030; /* Green */
    color: white;
  }

  .pesmeploce{
      width: 140px;
  }

  .tabela{
      color: white;
  }

