.Pocetna{ /* opcije kakve su  */
    
    font-style: oblique;
    color: rgb(231, 177, 40);
    font-size: 20px;
    /* flex-grow: 0 1 auto; */
  
}

.PocetniDIV{
    font-family: Arial, Helvetica, sans-serif;
    color: goldenrod;
    text-align: center;
    font-size: 20px;
    text-transform:uppercase;
    align-items: center;
    width: 250px;
    height: 48px;
    /* flex-grow: 0 1 auto; */
    /* align-self:center; */
    /* justify-content: flex-start; */
    margin: 20px;
      
      
}

.hue{
    display: flex;
    flex-direction: column;
    flex:0 1 auto;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url("https://images6.alphacoders.com/359/thumb-1920-359085.jpg"); 
    background-image:blur(8px);
    /* background-color:  #1b1b1b; */
    height: 100%; 
}

.podacioprodavnici{
    color: rgba(255,255,255,0.5);
}

.Select{
    background-color: #000000;
    width: 225px;
    height: 28px;
    border-style:solid;
    border-color:#daa520;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    text-emphasis-color: #ffffff;
    margin-right: 0%;
}

.PRODAVNICA{ 
    
    font-style: oblique;
    color: rgb(255, 255, 255);
    font-size: 90px;
    /* margin: 100px; */
    /* flex-grow: 0 1 auto; */
    /* text-align: center; */
    /* position: relative; */
  
}
.lab{
    color:goldenrod;
    padding: 12px 12px 12px 0;
    display: inline-block;
    
      
}

.lab:hover{
    color:black;
      
}

.Labela{
    color:goldenrod;
    font-style: oblique;
    font:caption;
    font-family: "Times New Roman", Times, serif;
    margin-right: 50;
    font-size: 20px;
    margin-left: 20px;

}
.LABELA{
    color:white;
}

.navbar{
    background-color: #303030;
    margin-bottom: 20px;
    height: 100;
    padding: 20px;
    justify-content:center;
    justify-content: space-around;
    position: relative;
    align-items:stretch;
    display:flex;
    flex-direction: row;
    flex-grow: 20px 10px;
}

.RadForma{
    
    margin:10px;
    display:flex;
    flex-direction: row;
    background-color: #303030;
}
.nekidivrad{
    margin: 10px;
    justify-content: center;

}

.btnrad{
    background-color: #daa520;
    padding: 5px;
    margin: 5px;
    margin-left: 10px;
}

.InputiForma{
    display:flex;
    flex-direction: row;
    margin: 3px;

}
.jedanvinyl
{
  width:170px;
  height:170px;
  /* background-image: url('/Client/vin.png'); */
  background-size: cover;
  
  /* border-radius:90%; */
  background: rgba(119, 116, 115, 0.5);
  border:3px solid rgb(92, 85, 85);
  /* position:relative; */
  text-align: center;
  align-items: center;
  text-decoration: solid;
  word-wrap: break-word;
  font-style: oblique;
  font-family: "Times New Roman", Times, serif;
  margin: 7px;
  float: left;
  border-radius: 25px;
  /* padding:10px; */
  /* padding-top: 50px; */
/* overflow-x: auto;
    overflow-y: hidden; */
    vertical-align: middle;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    transition: 0.2s;
    cursor: pointer;
    
}

.jedanvinyl:hover{
    background-color: black;
      background-image: url('/Client/vin.png');
      background-size: cover;
      

    
}
.lab1
{
    color:goldenrod;
    font-size: 18px;
    font-weight: bold;
    /* -webkit-text-stroke: 1px white; */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
.Forma{
    border:3px;
    padding: 14px;
    background-color: #303030;
    position: relative;
    border-radius: 25px;
    height: fit-content;
    /* width: 160px; */
    padding: 30px;
    display: flex;
    margin-left: 20px;
    justify-content: space-evenly;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    justify-items: center;
    /* align-items: center; */
    position:relative;

    
    /* flex: auto; */
}

.nazivploce, .izvodjacploce, .godstampanjaploce, .pesmeploce, .cenaploce, .kolicinaploce, .selektZanra, .pesmeploce{
    width: 100%;
}


.PlocaTabela{
    margin-left:30px;
    /* width: 600px;
    height: 350px; */
    justify-content: space-evenly;
    flex-direction: row;
    position:relative;


}
.pesmeploce{
    margin-top: 5px;
}

.pesmeeee{
    /* z-index: 999; */
    display: none;
    transition: 0.2s;
}

.jedanvinyl:hover ~ .pesmeeee{
    display: block;
    color: white;

}

.VELIKIDIV{
    display:flex;
    /* flex-wrap: wrap; */
    position: relative;
    /* flex-direction:column; */

    /* justify-content: center; */

}

.GlavniKontejner{
    display:flex;
    flex-direction: column;
}
.btn {
        background-color: #f7f7f7; /* Green */
        border: 2px solid grey;
        color: rgb(0, 0, 0);
        padding: 10px 50px;
        text-align: center;
        text-decoration: none;
        /* display: inline-block; */
        /* width: 100px; */
        font-size: 16px;
        margin: 10px 5px;
        /* width: 150px 100px; */
        transition-duration: 0.4s;
        cursor: pointer;
        margin-left: 66px;
 }

 .btns{ 
    background-color:#303030; /* Green */
    border: 2px solid #303030;
    color: rgb(228, 228, 228);
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 29px;
    margin: 6px 3px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-style: oblique;
    font-family: "Times New Roman", Times, serif;

 }

  
  .btn:hover {
    background-color: #303030; /* Green */
    color: white;
  }

  

  .tabela{
      color: white;
  }

  .obrisibtn{
    font-size: 19px;
    color: #f7f7f7;
    background-color: #303030;
    right:    0;
    bottom:   0;
    border: 1px solid goldenrod;

  }

  .obrisibtn:hover{
    font-size: 19px;
    color: #303030;
    background-color: black;
    
  }
  .RADNICI{
      
      margin-bottom: 100px;
      
  }
  .RADNICI0{
      
    margin-top: 100px;
    
}
  

  .tabelaRadnici{
      background-color: black;
      color:white;
      font-style: oblique;
      color: rgb(231, 177, 40);
      font-size: 40px;
      ;
      flex-grow: 0 1 auto;
      border: 1px;
      margin:10px;
      border-radius: 10px;
      /* position: center; */
      justify-content: center;
      align-items: center;


  }

  table,th,tr,td
{
    display: flex;
    flex: 1 0;
}
table
{
    flex-direction: column;
    background-color: rgb(44, 44, 48);
    border-radius: 10px;
    margin: 1px;
}
th
{
    border: 1px solid gray;
    border-radius: 10px;
    margin: 1px;
    padding: 5px;
}
tr
{
    display: flex;
    flex: 1 0;
    flex-direction: row;
    background-color: rgb(44, 44, 48);
    color: gray;
    border-radius: 10px;
    margin: 1px;
}
td
{
    display: flex;
    flex: 1 0;
    flex-direction: row;
    background-color: rgb(44, 44, 48);
    color: goldenrod;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 1px;
    padding: 3px;
}





@media only screen and (max-width: 600px) {
    .navbar {
      flex-direction: column;
    }

    .VELIKIDIV{
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .RadForma{
        flex-direction: column;
        

    }
    .imeprodavca, .prezimeprodavca, .brtelprodavca, .licnakartaprodavca{
        width:100%;
        margin-right: 5px;
    }
    .nekidivrad{
        flex-direction: column;
    }

    .Forma{
        margin-left: 0px;
    }

    .PocetniDIV{
        margin-left: 0px;

    }
    .btn{
        align-self: center;
        justify-self: center;
    }

    .PlocaTabela{
        flex-direction: column;
        align-content: center;
        justify-content: center;
        
    }
   

   
   

  }


  