body {
    background-image: url("https://www.itl.cat/pngfile/big/147-1478502_record-store.jpg");
    background-color: #1b1b1b;
}
span {
    color: rgb(255, 255, 255);
    font-family: verdana;
    font-size: 300%;
  
}
p {
    color: red;
    font-family: courier;
    font-size: 160%;
    border: 2px solid powderblue
}
navbarSupportedContent{
    
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;

}